@model SearchIndexViewModel

@{
    ViewData["Title"] = "Search";
    ViewData["nav"] = "Search";

    bool isHearted;
    bool isFollowing = false;
    bool sameUser = false;
}

<link rel="stylesheet" href="~/css/SearchIndex.css" />

<div class="back">
    <a class="icon-wrapper">
        <i class="fas fa-arrow-left"></i>
    </a>

    <form asp-controller="Search" asp-action="Index" method="post">
        <div class="search">
            <i class="fas fa-search fa-form-icon"></i>
            <input asp-for="SearchString" placeholder="Search" id="search-input" />
        </div>

        <div class="radio-wrapper">
            @foreach (string option in Model.SearchOptions)
            {
                <input type="radio" asp-for="SearchOption" value="@option" id="@option" checked="@(option == "Users" ? true : false)" />
                <label for="@option">@option</label>
            }
        </div>
    </form>
</div>

<!-- Users -->
@if (Model.Users != null)
{
    @foreach (User u in Model.Users)
    {
        if (Model.LoggedInUser.Id == u.Id)
        {
            sameUser = true;
        }

        else // if(Model.LoggedInUser.Id != Model.User.Id)
        {
            sameUser = false;

            if (u.Followers.Select(f => f.FollowerId).Contains(Model.LoggedInUser.Id))
            {
                isFollowing = true;
            }

            else
            {
                isFollowing = false;
            }
        }

        <div class="profile-container">
            <div class="cover">
                <img src="~/images/@u.CoverImage" />
            </div>
            <div class="content">
                <div class="image-and-actions">
                    <div class="img-wrapper">
                        <img src="~/images/@u.ProfileImage" />
                    </div>
                    <div class="actions">
                        <a class="button follow-user-btn @(isFollowing ? "anchor-following" : "anchor-follow")" hidden="@sameUser" data-userid="@u.Id">
                            @(isFollowing ? "Following" : "Follow")
                        </a>
                        <a class="button edit-profile" hidden="@(!sameUser)" asp-controller="User" asp-action="Edit" asp-route-userId="@u.Id">
                            Edit Profile
                        </a>
                    </div>
                </div>
                <div class="name-wrapper">
                    <div class="display-name">
                        @u.DisplayName
                    </div>
                    <div class="user-name">
                        &#64;@u.UserName
                    </div>
                </div>
                <div class="description">
                    @u.Description
                </div>
                <div class="date-joined">
                    <i class="far fa-calendar-alt"></i>
                    Joined @u.DateCreated.ToShortDateString()
                </div>
                <div class="follower-wrapper">
                    <div class="following">
                        <span class="follow-count">@u.FollowingCount</span> Following
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="followers">
                        <span class="follow-count" data-follower-count="@u.FollowerCount">@u.FollowerCount</span> Followers
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- Posts -->
@if (Model.Posts != null)
{
    @foreach (Post p in Model.Posts)
    {
        if (p.Hearts.Select(h => h.UserId).Contains(Model.LoggedInUser.Id))
        {
            isHearted = true;
        }
        else
        {
            isHearted = false;
        }

        <div class="post">
            <a class="overlay" asp-controller="Post" asp-action="Index" asp-route-postId="@p.Id"></a>
            <div class="image">
                <a class="img-wrapper" asp-controller="User" asp-action="Index" asp-route-userId="@p.UserId">
                    <img src="~/images/@p.User.ProfileImage" />
                </a>
            </div>
            <div class="content">
                <div class="header">
                    <a class="display-name" asp-controller="User" asp-action="Index" asp-route-userId="@p.UserId">
                        @p.User.DisplayName
                    </a>
                    <div class="user-name">
                        &nbsp;&#64;@p.User.UserName
                    </div>
                    <div class="date">
                        &nbsp;&middot;&nbsp;@p.DateCreated
                    </div>
                </div>
                <div class="text show-white-space">@p.Text</div>
                <div class="img-video-wrapper">
                    @if (!string.IsNullOrEmpty(p.Image))
                    {
                        <img src="~/images/@p.Image" />
                    }
                    @if (!string.IsNullOrEmpty(p.Video))
                    {
                        <video src="~/videos/@p.Video" controls>
                        </video>
                    }
                </div>
                <div class="actions">
                    <a class="comment" asp-controller="Post" asp-action="Index" asp-route-postId="@p.Id">
                        <i class="far fa-comment"></i>
                        <span class="comment-count">@p.ReplyCount</span>
                    </a>
                    <a class="heart @(isHearted ? "hearted" : "")" data-postid="@p.Id" data-heartcount="@p.HeartCount">
                        <i class="fa-heart @(isHearted ? "fa-solid" : "fa-regular")"></i>
                        <span class="heart-count">@p.HeartCount</span>
                    </a>
                </div>
            </div>
        </div>
    }
}

<!-- Lists -->
@if (Model.Lists != null)
{
    <div class="lists-container">

        @foreach (List l in Model.Lists)
        {
            <a class="list" asp-controller="List" asp-action="Details" asp-route-listId="@l.Id">
                <div class="icon-wrapper">
                    <img src="~/images/@l.CoverImage">
                </div>
                <div class="name">
                    @l.Name
                </div>
            </a>
        }

    </div>
}

@section Scripts{
<script src="~/js/Hearting.js" asp-append-version="true"></script>
<script src="~/js/FollowingUser.js" asp-append-version="true"></script>
}