@model ListDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/ListDetails.css" />

<div class="back">
    <a class="icon-wrapper" asp-controller="List" asp-action="index">
        <i class="fas fa-arrow-left"></i>
    </a>
    <div class="list-name">
        @Model.List.Name
    </div>
</div>

<div class="list-container">
    <div class="cover">
        <img src="~/images/@Model.List.CoverImage" />
    </div>
    <div class="details">
        <div class="name">
            @Model.List.Name
        </div>
        <div class="description">
            @Model.List.Description
        </div>
        <div class="members">
            <span class="member-count">@Model.List.ListMembers.Count</span>&nbsp;Members
        </div>
        <div class="btn-wrapper">
            <a class="button">Edit List</a>
        </div>
    </div>
</div>

@foreach (Post p in Model.Posts)
{
    <div class="post">
        <a class="overlay" asp-controller="Post" asp-action="Index" asp-route-postId="@p.Id"></a>
        <div class="image">
            <a class="img-wrapper" asp-controller="User" asp-action="Index" asp-route-userId="@p.UserId">
                <img src="~/images/@p.User.ProfileImage" />
            </a>
        </div>
        <div class="content">
            <div class="header">
                <a class="display-name" asp-controller="User" asp-action="Index" asp-route-userId="@p.UserId">
                    @p.User.DisplayName
                </a>
                <div class="user-name">
                    &nbsp;&#64;@p.User.UserName
                </div>
                <div class="date">
                    &nbsp;&middot;&nbsp;@p.DateCreated
                </div>
            </div>
            <div class="text show-white-space">@p.Text</div>
            <div class="img-video-wrapper">
                @if (!string.IsNullOrEmpty(p.Image))
                {
                    <img src="~/images/@p.Image" />
                }
                @if (!string.IsNullOrEmpty(p.Video))
                {
                    <video src="~/videos/@p.Video" controls>
                    </video>
                }
            </div>
            <div class="actions">
                <a class="comment" asp-controller="Post" asp-action="Index" asp-route-postId="@p.Id">
                    <i class="far fa-comment"></i>
                    <div class="comment-count">
                        @p.ReplyCount
                    </div>
                </a>
                <div class="heart">
                    <i class="far fa-heart"></i>
                    <div class="heart-count">
                        @p.HeartCount
                    </div>
                </div>
            </div>
        </div>
    </div>
}