@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
    ViewData["nav"] = "Home";
}

<link rel="stylesheet" href="~/css/HomeIndex.css" />

<div class="top-header">
    <div class="home">
        Home
    </div>
</div>

@foreach (Post p in Model.Posts)
{
    <div class="post">
        <a class="overlay" asp-controller="Post" asp-action="Index" asp-route-postId="@p.Id"></a>
        <div class="image">
            <a class="img-wrapper" asp-controller="User" asp-action="Index" asp-route-userId="@p.UserId">
                <img src="~/images/@p.User.ProfileImage" />
            </a>
        </div>
        <div class="content">
            <div class="header">
                <a class="display-name" asp-controller="User" asp-action="Index" asp-route-userId="@p.UserId">
                    @p.User.DisplayName
                </a>
                <div class="user-name">
                    &nbsp;&#64;@p.User.UserName
                </div>
                <div class="date">
                    &nbsp;&middot;&nbsp;@p.DateCreated
                </div>
            </div>
            <div class="text show-white-space">@p.Text</div>
            <div class="img-video-wrapper">
                @if (!string.IsNullOrEmpty(p.Image))
                {
                    <img src="~/images/@p.Image" />
                }
                @if (!string.IsNullOrEmpty(p.Video))
                {
                    <video src="~/videos/@p.Video" controls>
                    </video>
                }
            </div>
            <div class="actions">
                <a class="comment" asp-controller="Post" asp-action="Index" asp-route-postId="@p.Id">
                    <i class="far fa-comment"></i>
                    <span class="comment-count">@p.ReplyCount</span>
                </a>
                <a class="heart">
                    <i class="far fa-heart"></i>
                    <span class="heart-count">@p.HeartCount</span>
                </a>
            </div>
        </div>
    </div>
}